BOT_TOKEN =
BOT_USER_NAME =

WEATHER_API_TOKEN =
WEATHER_API_URL = https://api.hgbrasil.com/weather?key=:token&city_name=:city&locale=pt

CURRENCY_URL = https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/CotacaoMoedaDia(moeda=@moeda,dataCotacao=@dataCotacao)?@moeda=':moeda'&@dataCotacao=':data'&$top=1&$orderby=dataHoraCotacao%20desc&$format=json&$select=cotacaoCompra,cotacaoVenda,dataHoraCotacao
LIST_CURRENCY_URL = https://olinda.bcb.gov.br/olinda/servico/PTAX/versao/v1/odata/Moedas?$top=100&$format=json